/*
Add your custom css here. Do not touch on style-color-name.css files
*/

.ceiling-list {
    color: #666;
    font-size: 10px;
    font-weight: 600;
    text-transform: uppercase;
}

.ceiling-list a:not(.btn){
	color: #666;
}

.ceiling-list a:not(.btn):hover{
	color: #2E71B3;
}

#section-header {
	background-color: black;
}

#section-header .dexp-dropdown >ul>li>a:before, #section-header .dexp-dropdown >ul>li>span.no-link:before{
	background: white;
}

#section-header ul.menu li a.active {
	color:white;
}